div.opa1{
    background-color: rgb(100, 255, 100);
    opacity: 1;
}

div.opa2{
    background-color: rgb(63, 105, 243);
    opacity: 1;
}
div.opa3{
    background-position: 100 10;
    background-color:rgb(255, 100,100);
    opacity: 1;
}
body{
    background-image: url("desk.png");
    background-repeat: no-repeat;
}
table,th,td{
    border: 2px solid brown;
 border-collapse:collapse ;
 padding: 15px;
}
h1.cap{
    text-align: center;
}